BODY
{
	padding-top: 0.5em;
	background: #191919;
	color: #C7C7C7;
	font-family: Candara;
	font-size: 25px;
	text-align: left;
}
.container, .article_container
{
	width: 850px;
	margin: auto;
}
.article_list
{
	margin-top: 2px;
	float: left;
	width: 530px;
}

.container, .container, .article_container
{
	border-radius: 30px;
	border-style: dashed;
	border-width:1px;
	border-color:#ccc;
	padding:15px;
	-webkit-box-shadow: 10px 10px 25px black;
    -moz-box-shadow: 10px 10px 25px black;
    box-shadow: 10px 10px 30px black;
}
.footer
{
	clear: both;
}
.article_container
{
	
}
.header
{
	margin: 0;
	padding: 0;
}
.article_list
{
	color: #C7C7C7;
	float: left;
	margin: 0 auto;
	padding-top: 5px;
	font-size: 24px;
}
.article_list H2
{
	color: #7E7B7B;
}
.article_list P
{
	padding-right: 0.5em;
	text-align: left;
}

.sidebar
{
	float: right;
	width: 310px;
	font-size: 28px;
	color: #191919;
	border-left: 4px solid #CCC;
	text-align: left;
}

H1
{
	font-weight: bold;
	text-align: left;
	font-size: 36px;
	color: #FF7A7A;
}
H2
{
	font-weight: bold;
	font-size: 30px;
	color: #F64242;
	padding: 0;
	margin: 0;
}
H3
{
	font-weight: normal;
	font-size: 1.2em;
	color: #555;
}
P, UL, OL
{
	line-height: 1.5em;
	text-align: left;
}

blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
} 

.discuss
{
	text-align: center;
	padding-bottom: 0.5em;
}
.site_description
{
	font-size: 16px;
	text-align: center;
}

.article A
{
	color: #FFFFFF;
	font-size: 28px;
	text-decoration: underline;
	border-radius: 10px;
}

.sidebar A, .return_link A, .article_list  A
{
	color: #FFFFFF;
	font-size: 28px;
	text-decoration: none;
	border-radius: 10px;
}

.article IMG, .article iframe, .article video
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.index_header H1
{
	font-weight: bold;
	text-align: left;
	font-size: 36px;
	color: #FD7171;
	font-family: Constantia;
	text-align: center;
}

.article A:hover, .return_link A:hover, .article_list  A:hover 
{
	color: #333;
	background: #FFCC00;
    box-shadow: 0px 0px 15px #aaf;
}

.slink{
position:relative;
}

.slink span{
display: none;
}

.slink:hover span
{
	display:block;
	position:absolute;
	top: 0px;
	left:150px;
	width:240px;
	background-color:#FFF;
	padding: 3px;
	color:black;
	border-radius: 10px;
}
.cor
{
	position:absolute;
	width:8px;
	height:8px;
	background:white;
	left:-4px;
	top: 13px;
	transform: rotateZ(45deg);
	-o-transform: rotateZ(45deg);
	-webkit-transform: rotateZ(45deg);
	-moz-transform: rotateZ(45deg);
}

/*.article IMG:hover{
-webkit-transform: scale(1.5);
-webkit-transition-timing-function: ease-out;
-webkit-transition-duration: 500ms;
}*/

.date
{
	position:absolute;
	margin-top: -56px;
	margin-left: -56px;
}

.date:hover
{
	position:absolute;
	margin-left: -60px;
	margin-left: -60px;
}
.day
{
	z-index: 1;
	position:absolute;
	color: black;
	width: 48px;
	margin-top: 9px;
	height: 30px;
	background: white;
	text-align: right;
	line-height:30px;
	font-size: 28px;
	font-family: Lucida Console;
	-webkit-box-shadow: -10px 10px 25px black;
    -moz-box-shadow: -10px 10px 25px black;
    box-shadow: -10px 10px 25px black;
}

.month
{
	position:absolute;
	margin-top: -11px;
	padding: -4px;
	width: 48px;
	height: 25px;
	color: white;
	background: #d33;
	text-align: center;
	border-radius: 5px;
	line-height:25px;
	font-size: 12px;
	text-transform:uppercase;

}

.year
{
	z-index: 1;
	position:absolute;
	display:block;
	margin-top: 17px;
	margin-left: -8px;
	background: #ccc;
	height: 14px;
	line-height:14px;
	font-size: 12px;
	width: 30px;
	color: black;
	text-align: center;
	font-family: Lucida Console;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}